{{#each model as |album|}}
  <img src={{album.images.firstObject.url}} class="md-avatar">
  <div class="md-list-item-text">
    <h3>Squarepusher</h3>
    <p>{{album.name}}</p>
  </div>
  <hr />
{{/each}}
{{infinity-loader infinityModel=model destroyOnInfinity=true}}
